html {
    background-color: black;
}
html, body, #wrapper {
    height: 100%;
    width: 100%;
}
* {
    font-family: 'Tajawal', sans-serif !important;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #eee;
}
::-webkit-scrollbar-thumb {
	background-color: #555;
}
body {
    visibility: hidden;
}
h1, h2 {
    text-align: center;
    margin: 0;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
.w3-modal {
    z-index: 10000 !important;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.w3-modal-content {
    background-color: transparent;
}
#splash-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 35px #131313;
    padding: 1.3em;
}
#splash-container p, li {
    font-size: 108%;
}
#splash-container p, ul {
    margin: 0.6em 0;
}
#splash-container p {
    text-align: justify;
}
#splash-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.8em 0;
}
#splash-head > * {
    margin: 0 2em;
}
img {
    filter: invert(0.93);
    height: 6em;
}
#close-splash {
    width: 10em;
    max-width: 100%;
    align-self: center;
    letter-spacing: 0.1em;
    font-size: 115%;
	transition: background-color 600ms;
    margin-top: 0.5em;
}
#close-splash:hover {
    background-color: #575757 !important;
}
#wrapper {
    display: flex;
}
#chart-tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 500;
}
.leaflet-tooltip {
    pointer-events: none;
    background-color: #303030 !important;
    color: white;
    z-index: 600;
}
.leaflet-tooltip p {
    text-align: center;
    margin: 0;
}
.leaflet-tooltip > :nth-child(2) {
    font-size: 80%;
    color: #eee;
}
.leaflet-tooltip > :nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.leaflet-tooltip > div > :nth-child(1) {
    line-height: 1.3em;
    font-size: 110%;
}
.leaflet-tooltip > div > :nth-child(2) {
    margin: 0 0.5em;
    color: #ddd;
    font-size: 80%;
}
#credits h6 {
    font-size: 1.1em;
    margin: 0;
}
.citation {
    text-indent: 2em hanging;
    margin: 0.5em 0 1.5em 0;
}
.citation a {
    word-break: break-word;
}
#panel {
    flex: 1 2 auto;
    padding: 1em;
    min-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#region-select {
    flex: 0 0 auto;
    border: none;
    padding: 0.5em;
    transition: background-color 600ms;
    cursor: pointer;
    color: #fff;
    background-color: #818181;
}
#region-select > option {
    color: #fff;
    background-color: #444444;
}
#region-select:hover {
    background-color: #8b8b8b;
}
#charts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.chart-tile {
    flex: 1 0 110px;
    margin-top: 1em;
    border: #666 solid 1.3px;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.chart-labels {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chart-labels p {
    margin: 0;
}
.chart-labels :nth-child(2n+1) {
    text-align: center;
    flex-basis: 2em;
    font-size: 90%;
}
.chart-labels :nth-child(2) {
    font-size: 85%;
}
.chart-tile.active {
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.6s linear;
}
.chart-parent {
    flex: 1 1 auto;
    display: flex;
}
.chart {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0.3em;
}
.chart-title {
    flex: 0 0 auto;
    margin: 0;
}
.bar {
    flex: 1;
    margin: 0;
}
.bar::after {
    display: block;
    position: relative;
    background-color: #444;
    content: '';
    height: 100%;
    width: 2px;
}
.bar.inactive {
    opacity: 0.5;
}
#map_info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#info {
    flex: 0 1 auto;
    display: none;
    padding: 0.7em;
    border-left: 1px solid #818181;
    overflow-y: auto;
}
.close {
    position: absolute;
    right: 1.1em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
#context div {
    margin: 0 0.5em;
}
#context {
    margin-bottom: 1em;
}
#context p {
    display: inline;
    font-variant: small-caps;
    color: #bfbfbf;
    font-size: 95%;
}
#context p:last-child {
    font-variant: none;
    margin-left: 0.2em;
    color: #d9d9d9;
}
#country-stats, #region-stats, #context {
    display: flex;
    flex-wrap: wrap;
}
#country-stats, #region-stats {
    justify-content: space-evenly;
    align-items: stretch;
}
#context {
    justify-content: center;
}
#info p {
    text-align: center;
    margin: 0;
}
#info-title {
    font-size: 140%;
}
#country-stats > div, #region-stats > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 12em;
    margin: 0.6em;
}
#country-stats > div > :nth-child(1), #region-stats > div > :nth-child(1) {
    line-height: 100%;
    color: #ddd;
}
#country-stats > div > :nth-child(2) {
    flex-basis: 2em;
    line-height: 2em;
    font-size: 150%;
}
#country-stats > div > :nth-child(3), #region-stats > div > :nth-child(2) {
    color: #bbb;
    font-size: 80%;
}
#region-stats > div > :nth-child(2) {
    margin: 0.5em 0;
}
.region-list-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.7px solid #444;
    cursor: pointer;
}
.region-list-entry:last-child {
    border-bottom: none;
}
.region-list-entry :nth-child(1) {
    text-align: left !important;
    margin-right: 0.6em !important;
    flex: 0 1 auto;
}
.region-list-entry:hover {
    color: #bbb;
}
.region-list-entry :nth-child(2) {
    white-space: nowrap;
    text-align: right !important;
    flex: 1 0 auto;
}
#map-parent {
    flex: 1 0 0;
    width: 100%;
    min-height: 50%;
    max-height: 100%;
}
#map {
    width: 100%;
    height: 100%;
}
@media (max-width: 600px) {
    #wrapper {
        flex-direction: column-reverse;
    }
    #map_info {
        border-left: none;
        flex: 2 1 auto;
    }
    #map-parent {
        flex: 1 0 0;
    }
    #info {
        flex: 1 1 0;
    }
}
@media (max-height: 700px) {
    #mortality-chart {
        margin-bottom: 1em;
    }
}
@media (max-width: 992px) {
    img {
        margin-top: 1em !important;
    }
}